{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off"
  }
}
